<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='cloud.jpg') }}">

    <title>Password Reset</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='auth.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='base-style.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin"  method="post">
      <img class="mb-4" src="{{ url_for('static', filename='cloud.jpg') }}" alt="" width="72" height="72">
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <label for="inputNewPassword" class="sr-only">Password</label>
      <input type="password" name="new_password" id="inputNewPassword" class="form-control" placeholder="New Password" required>
      <label for="verifyNewPassword" class="sr-only">Password</label>
      <input type="password" name="verify_new_password" id="verifyNewPassword" class="form-control" placeholder="Verify New Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      {% for message in get_flashed_messages() %}
      <div class="alert alert-dismissible alert-light">{{ message }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      {% endfor %}

    </form>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
